# docker-compose.yml
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: avito-tech-testing
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  db:
    image: postgres:16-alpine
    container_name: postgres-db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  db-test:
    image: postgres:16-alpine
    container_name: postgres-test
    restart: no
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 2004
      POSTGRES_DB: avito_tech_test
    ports:
      - "5433:5432"
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
    tmpfs: /var/lib/postgresql/data
    profiles: ["test"]
    networks:
      - app-network

  app-test:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    command: go test ./... -v
    env_file:
      - .env
    environment:
      - DB_HOST=host.docker.internal
      - DB_PORT=5433
    depends_on:
      db-test:
        condition: service_started
    profiles: ["test"]
    networks:
      - app-network

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge